@inherits InputBase<object>
@using Humanizer
@using Elsa.Client.Models


<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="@ControlId" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
        @PropertyInfo.Label
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
        <input type="text" id="@ControlId" name="@PropertyInfo.Name" class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md" @bind="@CurrentValueAsString" />
        @if (!string.IsNullOrWhiteSpace(PropertyInfo.Hint))
        {
            <p class="mt-2 text-sm text-gray-500">@PropertyInfo.Hint</p>
        }
    </div>

</div>

@code {

    [Parameter]
    public ActivityPropertyInfo PropertyInfo { get; set; }
    
    private string ControlId => PropertyInfo.Name.ToLowerInvariant().Underscore();

    protected override bool TryParseValueFromString(string? value, out object result, out string? validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;
    }

}